<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="spring.project.easydb.UserVO" alias="user"></typeAlias>
		<typeAlias type="spring.project.easydb.TableVO" alias="table"></typeAlias>
		<typeAlias type="spring.project.easydb.TableTempVO" alias="tmptable"></typeAlias>
	</typeAliases>
</configuration>
